# Firebase Configuration
FIREBASE_SERVICE_ACCOUNT=firebase-service-account.json

# AI Configuration (Groq for free API)
GROQ_API_KEY=GROQ_API_KEY   
GCP_PROJECT_ID=GCP_PROJECT_ID
GCP_LOCATION=GCP_LOCATION

# MCP Server Configuration
MCP_SERVER_BASE_URL=http://www.localhost:$PORT.com

# Server Configuration
HOST=0.0.0.0
PORT=8000
DEBUG=true
